// Mixins Here

.column{
    display:flex; 
    flex-direction: column; 
    justify-content: space-around; 
    text-align:center; 
    align-items:center; 

}

.row{
    display:flex; 
    justify-content: space-between; 
    text-align: center; 
    
    
}