// Mixins Here

//mixin 1 for flex display with direction as column
.column{
    display:flex; 
    flex-direction: column; 
    justify-content: space-around; 
    text-align:center; 
    align-items:center; 

}

//mixin 2 for flex display
.row{
    display:flex; 
    justify-content: space-between; 
    text-align: center; 

    
}

//parametric mixin for button

.button(@width: 32%, @padding:10px 20px){
    font-size: 1.8em; 
    font-weight: bold; 
    background:@btn-bg-color;
    color:@sea-shell; 
    max-width:@width;
    border-radius:5px; 
    padding:@padding;
}