// Navigation code here

.nav{
    background:@nav-bg; 
    h1{
        font-size: 4.3em; 
        font-weight:500; 
        padding:1.5%;
        .fadeIn();

    }
    .column(); 
    nav{
        .row(); 
        min-width: 45%; 
        font-size: 1.6em; 
        padding: .5% 0 1%;

        @media @phone{
            min-width: 70%;
            font-size:2em;
            padding-bottom: 3%;
        }


        a{
            text-decoration:none;
            color:@header-font-color;
            font-weight: 550; 
        }
        
    }


}