// Navigation code here

.nav{
    background:@nav-bg; 
    h1{
        font-size: 4.3em; 
        font-weight:500; 
        padding:1.5%;
        .fadeIn();

    }
    .column(); 
    nav{
        .row(); 
        min-width: 40%; 
        font-size: 1.6em; 
        padding: .5% 0 1%;

        @media @phone{
            min-width: 80%;
            font-size:2em;
            padding-bottom: 3%;
        }


        a{
            text-decoration:none;
            color:@header-font-color;
            font-weight: 550; 
            
        }
        .link{
            .fadeIn(7s);
            }
        .link2{
            .fadeIn(8s);
        }
        .link3{
            .fadeIn(9s);
            }
        .link4{
                .fadeIn(10s);
                }
        .link5{
                    .fadeIn(11s);
                    }

    }


}